<h2>Edit Bio</h2>


<form action="/update_bio/<%= @bio.id %>">
  <input type="text" name=biography placeholder="biography" value="<%= @bio.biography %>">
  <input type="text" name="url" placeholder="url" value="<%= @bio.image_url %>">
  <input type="submit">
</form>