<h2>New Bio</h2>

<form action="/create_bio">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="image_url" placeholder="image url">
  <input type="text" name="biography" placeholder="biography">
  <input type="submit">
</form>